language: java
jdk:
  - openjdk8
cache:
  directories:
    - $HOME/.m2

install:
  - |
    OC_VERSION="openshift-origin-client-tools-v3.9.0-191fece-linux-64bit"
    curl -LO https://github.com/openshift/origin/releases/download/v3.9.0/${OC_VERSION}.tar.gz && \
        tar -xvzf ${OC_VERSION}.tar.gz && chmod +x $PWD/${OC_VERSION}/oc && sudo mv $PWD/${OC_VERSION}/oc /usr/local/bin/ && \
        rm -rf ${OC_VERSION}.tar.gz
    oc version
script:
  - mvn verify
